<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" th:href="@{/add.css}">
</head>
<body>
<form method="post">
    <h1 style="text-align: center; color: cornflowerblue;">Добавить место</h1>
    <label>
        <p class="label-txt">Введите название</p>
        <br>
        <input type="text" name="title" class="input" >
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Введите краткий заголовок</p>
        <br>
        <input type="text" name="subtitle" class="input" >
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Введите первый раздел</p>
        <br>
        <input type="text" name="firstContent" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Введите второй раздел</p>
        <br>
        <input type="text" name="secondContent" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Введите третий раздел</p>
        <br>
        <input type="text" name="thirdContent" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Введите номер квеста</p>
        <br>
        <input type="text" name="quest" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <label>
        <p class="label-txt">Введите номер задания</p>
        <br>
        <input type="text" name="stage" class="input">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <button type="submit">submit</button>
</form>

</body>
</html>